body {
	background-color: orange;
}

#container {
	background-color: bisque;
	border: 1px black solid;
	border-radius: 4px;
	margin: 50px;
	padding: 30px;
}

h1, h2, h3 {
	font-family: 'Baloo', cursive;
}

h1 {
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
}

#title p {
	text-align: center;
}

#recipe-box {
	background-color: white;
	border: 2px black solid;
	border-radius: 4px;
	display: table;
	margin: 0 auto;
	margin-top: 50px;
	padding: 50px;
	position: relative;
	width: 80%;
}

#recipe-about {
	position: absolute;
	right: 50px;
	width: 50%;
}

#recipe-about h2 {
	margin: 0;
}

#recipe-image {
	position: relative;
	width: 50%;
}

#recipe-image img {
	width: 300px;
}

#recipe {

}