body {
	background: url("images/bg.png");
}

#container {
	background-color: bisque;
	border: 1px black solid;
	border-radius: 4px;
	margin: 50px;
	padding: 30px;
}

h1, h2, h3 {
	font-family: 'Baloo', cursive;
}

h1 {
	font-size: 2.5em;
	text-align: center;
}

h3 {
	font-size: 1.75em;
}

p, a, table, ol {
	font-family: 'Open Sans', sans-serif;
}

#title p {
	text-align: center;
}

#recipe-box {
	background-color: white;
	border: 2px black solid;
	border-radius: 4px;
	display: table;
	margin: 0 auto;
	margin-top: 50px;
	padding: 50px;
	position: relative;
	width: 80%;
}

a {
	color: orange;
	margin: 5px 0;
}

a:hover {
	color: gray;
}

a:visited {
	color: darkred;
}

#recipe-about {
	position: absolute;
	right: 50px;
	width: 50%;
}

#recipe-about h2 {
	margin: 0;
}

#recipe-image {
	position: relative;
	width: 50%;
}

#recipe-image img {
	width: 350px;
}

table {
	width: 100%;
}

th {
	background-color: orange;
	font-weight: 800; 
	padding: 5px;
	text-align: center;
}

td {
	padding: 5px;
}

.light-blue {
	background-color: lightblue;
}

.gray {
	background-color: #e9e9e9;
}

ol li {
	padding-bottom: 3px;
	padding-top: 3px;
}



@media (max-width: 700px) {
	#recipe-box {
		display: block;
		width: auto;
	}
}

@media (max-width: 1234px) {
	#recipe-about {
		position: static;
		width: 100%;
	}

	#recipe-image {
		margin: 0 auto;
		width: 100%;
	}

	#recipe-image img {
		width: 100%;
	}
}